<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Este é um site fictício, feito com Angular, HTML, CSS e TypeScript. Foram utilizados conceitos de header, footer, criação de página de produtos, página de carrinho, página não encontrada, serviço de notificação, forms reativos e barra de pesquisa.
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-regular fa-envelope"></i> papelaria@online.com</li>
                <li><i class="fa-solid fa-phone-flip"></i> (11) 1234-5678</li>
                <li><i class="fa-brands fa-whatsapp"></i> (11) 1 2345-6789</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados.
    </section>
</footer>
